<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Adidas - Frontend</title>
        <!-- Bootstrap core CSS-->
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
        <style>
        .inputDnD .form-control-file {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 10em;
        outline: none;
        visibility: hidden;
        cursor: pointer;
        background-color: #c61c23;
        box-shadow: 0 0 5px solid currentColor;
        }
        .inputDnD .form-control-file:before {
        content: attr(data-title);
        position: absolute;
        width: 100%;
        min-height: 10em;
        line-height: 2em;
        padding-top: 3.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
        border: 0.25em dashed currentColor;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
        }
        .inputDnD .form-control-file:hover:before {
        border-style: solid;
        box-shadow: inset 0px 0px 0px 0.25em currentColor;
        }
        body {
        background-color: #f7f7f9;
        }
        </style>
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <a class="navbar-brand" href="index.html">Adidas</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="/">
                            <i class="fa fa-fw fa-chart-line"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sports">
                        <a class="nav-link">
                            <i class="fa fa-fw fa-dumbbell"></i>
                            <span class="nav-link-text">Sports</span>
                        </a>
                        <ul class="sidenav-second-level show">
                            <li>
                                <a href="{{ url_for('running.index') }}">
                                    <i class="fa fa-fw fa-walking"></i>
                                    <span class="nav-link-text">Running</span>
                                </a>
                            </li>
                            <li>
                                <a href="fencing.html">
                                    <i class="fab fa-servicestack"></i>
                                    <span class="nav-link-text">Fencing</span>
                                </a>
                            </li>
                            <li>
                                <a href="golf.html">
                                    <i class="fa fa-fw fa-golf-ball"></i>
                                    <span class="nav-link-text">Golf</span>
                                </a>
                            </li>
                            <li>
                                <a href="basketball.html">
                                    <i class="fa fa-fw fa-basketball-ball"></i>
                                    <span class="nav-link-text">Basketball</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav sidenav-toggler">
                    <li class="nav-item">
                        <a class="nav-link text-center" id="sidenavToggler">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0 mr-lg-2">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search for...">
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">My Dashboard</li>
                </ol>
                <!-- Icon Cards-->
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-primary o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-walking"></i>
                                </div>
                                <div class="mr-5">Running</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="{{ url_for('running.index') }}">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-warning o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <!-- <i class="fa fa-fw fa-list"></i> -->
                                    <i><img href="https://cdn2.iconfinder.com/data/icons/olympic-sports-set-1/100/olympics-collection_v2-outlines-32-512.png"></i>
                                </div>
                                <div class="mr-5">Fencing</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-success o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-golf-ball"></i>
                                </div>
                                <div class="mr-5">Golf</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-danger o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-basketball-ball"></i>
                                </div>
                                <div class="mr-5">Basketball</div>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Upload video
                    </div>
                    <div class="card-body">
                        <form class="form-group inputDnD" action="/api/content/video" method="post" enctype="multipart/form-data">
                            <label class="sr-only" for="inputFile">File Upload</label>
                            <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="video/*" data-title="Drag and drop a video">
                        </form>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <!-- Example Bar Chart Card-->
                    <div class="card mb-3">
                        <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Development</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 my-auto">
                                    <canvas id="myBarChart" width="100" height="50"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">Updated today at 11:32 AM</div>
                    </div>
                    <!-- /Card Columns-->
                </div>
                <div class="col-lg-4">
                    <!-- Example Pie Chart Card-->
                    <div class="card mb-3">
                        <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Sports</div>
                        <div class="card-body">
                            <canvas id="myPieChart" width="100%" height="100"></canvas>
                        </div>
                        <div class="card-footer small text-muted">Updated today at 11:32 AM</div>
                    </div>
                </div>
            </div>
            <!-- Area Chart Example-->
            <div class="card mb-3">
                <div class="card-header">
                <i class="fa fa-area-chart"></i> Power</div>
                <div class="card-body">
                    <canvas id="myAreaChart" width="100%" height="30"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated today at 11:32 AM</div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='vendor/js/sb-admin.min.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ url_for('static', filename='js/sb-admin-datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-charts.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#inputFile').change(function() {
                var fileData = $('#inputFile').prop('files')[0];   
                var formData = new FormData();                  
                formData.append('file', fileData);

                $('#inputFile').attr({"data-title": fileData.name});

                $.ajax({
                    url: "/api/content/video",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    xhr: function() {
                        var req = $.ajaxSettings.xhr();
                        if (req.upload) {
                            req.upload.addEventListener('progress', function(e) {
                                if (e.lengthComputable) {
                                    var percentage = e.loaded / e.total * 100;
                                    $('.progress-bar').attr({
                                        'aria-valuenow': percentage,
                                        'style': 'width: ' + percentage + '%',
                                    });
                                }
                            }, false);
                        }

                        return req;
                    },
                    success: function(data) {
                        $('#inputFile').attr({"data-title": "Processing..."});
                        $.get("/api/process/" + data, {
                            success: function (data) {
                                $('#inputFile').attr({"data-title": "Success!"});
                        }});
                    }
                });
            });
        });
    </script>
</body>
</html>